.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/


Pipfile.lock
.idea/
.vscode/

mapping/insert_agoda_mapping_id_into_mapping_table_a_country.py
mapping/mapping_2_all_country_dynamic_multiple_supplier_a_single_id.py
mapping/mapping_2_all_country_dynamic_multiple_supplier.py
mapping/mapping_2_single_id.py
mapping/mapping_2_single_id_dynamic.py
mapping/mapping_with_dynamic.py

*test.py

*json